{% include 'header.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
<!--<h1> 맨체스터 유나이티드 2016/2017 시즌</h1>-->
<!--{{man_data2016|safe}}-->
                <div class="container-fluid">

<h1> 첼시 2013/2014 시즌</h1>
{{chelsea2_data2013|safe}}
                    <br>
<h1> 첼시 2014/2015 시즌</h1>
{{chelsea2_data2014|safe}}
                    <br>
<h1> 첼시 2015/2016 시즌</h1>
{{chelsea2_data2015|safe}}
                </div>
                <!-- /.container-fluid -->
{% include 'footer.html' %}
