{% include 'header.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
<!--<h1> 맨체스터 유나이티드 2016/2017 시즌</h1>-->
<!--{{man_data2016|safe}}-->
                <div class="container-fluid">

<h1> 인테르 밀란 2008/2009 시즌</h1>
{{inter_data2008|safe}}
                    <br>
<h1> 인테르 밀란 2009/2010 시즌</h1>
{{inter_data2009|safe}}
<!--                    <br>-->
<!--<h1> 맨체스터 유나이티드 2018/2019 시즌</h1>-->
<!--{{man_data2018|safe}}-->
                </div>
                <!-- /.container-fluid -->
{% include 'footer.html' %}
