{% include 'header.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
<!--<h1> 맨체스터 유나이티드 2016/2017 시즌</h1>-->
<!--{{man_data2016|safe}}-->
                <div class="container-fluid">

<h1> FC 포르투 2002/2003 시즌</h1>
{{porto_data2002|safe}}
                    <br>
<h1> FC 포르투 2003/2004 시즌</h1>
{{porto_data2003|safe}}
<!--                    <br>-->
<!--<h1> 맨체스터 유나이티드 2018/2019 시즌</h1>-->
<!--{{man_data2018|safe}}-->
                </div>
                <!-- /.container-fluid -->
{% include 'footer.html' %}
