{% include 'header.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
<!--<h1> 맨체스터 유나이티드 2016/2017 시즌</h1>-->
<!--{{man_data2016|safe}}-->
                <div class="container-fluid">

<h1> 레알 마드리드 2010/2011 시즌</h1>
{{real_data2010|safe}}
                    <br>
<h1> 레알 마드리드 2011/2012 시즌</h1>
{{real_data2011|safe}}
                    <br>
<h1> 레알 마드리드 2012/2013 시즌</h1>
{{real_data2012|safe}}
<!--                    <br>-->
<!--<h1> 맨체스터 유나이티드 2018/2019 시즌</h1>-->
<!--{{man_data2018|safe}}-->
                </div>
                <!-- /.container-fluid -->
{% include 'footer.html' %}
